* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: cursive; 
}

a {
    text-decoration: none;
    color: #000;
}

a:active {
    color: #000;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    flex-wrap: wrap;
}

.header__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.header__logo {
    font-size: 36px;
    text-transform: uppercase;
}
.header__link {
    font-size: 28px;
    text-transform: capitalize;
}

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.txt {
    width: 100%;
    flex-grow: 1;
    font-size: 60px;
    display: grid;
    place-items: center;
}